@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

body {
    background-image: url(img/flowerbackground.jpg);
    margin: 0;
    max-width:100%;
}


.nav{
    max-width: 100%;
    height: 100px;
    background-color: #b7e2f7;
    margin: auto;
    text-align: center;
}


.navbar{
    max-width: 100%;
    overflow:hidden;
    background-color: #b7e2f7;
    opacity: 70%;
    align-content: center;
    margin: auto;
}




.logo img {
    max-width: 500px;
    margin: auto;
}

.links {
    margin-top: 5px;
    font-size: 1.7rem;

    text-align: center;
    margin: auto;
    color: ;
    font-family: 'Gochi Hand', cursive;
}


.links a {
    color:  maroon; 
    padding-left: 10px; 
    padding-right: 10px; 
    text-decoration: none;
}



/*Bootstrap */
.info {
    max-height:200px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    

}

.infoimg{
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    text-align: center;
}



.blue {
    background-color: #b7e2f7 ;
    font-size: 1.3em;
    opacity: 70%;
    font-family: 'Gochi Hand', cursive;
    text-align: center;
    color: maroon; 
}

.crew img {
    max-width: 600px;
    margin: auto;
}

.crew {
    margin: auto;
    text-align: center;
}

.map {
    background-image: url(img/bikinimap.jpg);
    height: 500px;
    opacity: 50%;
    text-align: center;
    background-position: center;
}

.adress {
    text-align: center;
    margin-top: 200px;
    font-size: 4.0rem;
    font-family: 'Gochi Hand', cursive;
    color: maroon;
}
 
.container {
    background-color: #b7e2f7 ;
    height: 100%;
    max-width: 100%;
    opacity:70%;
    text-align: center;
    font-size: 1.2rem
}



.container p {
    margin-right: 500px;
    margin-left: 500px
}



.text{
    text-align: center;
    margin: auto;
}

.social img{
    max-width: 200px;
    max-height: 200px;
    margin: auto;
}

.social{
    max-width: 200px;
    max-height: 200px;
    margin:auto;
}

 /*sm devices */ 
@media (min-width: 400px) {
    .info {max-width: 200px;}
    .info {max-height: 200px;}
    .infoimg {max-width: 200px;}
    .infoimg {max-width: 200px;}
    .crew  {max-width: 150px;}
    .crew  {max-height:  150px;}
    .container {max-height: 100%;}
    .container p {margin-right: 10px;}
    .container p {margin-left: 10px;}
    .socail
}

 
/* md devices */
@media (min-width: 992px) {
    .info {max-width:300px;}
    .info {max-height: 300px;}
    .crew {max-width: 300px;}
    .crew  {max-height: 300px;}
    .container {max-height: 100%;}
    .container p {margin-right: 300px;}
    .container p {margin-left: 300px;}
}
            
/* lg device */
@media (min-width: 1200px) {
    .info {max-width: 300px}
    .info {max-height: inherit}
    .infoimg {max-width: 300px;}
    .infoimg {max-height: 300px;}
    .crew {max-width: 400px; }
    .crew {max-height: 400px;}
    .container {max-height: 100%;}
    .container p {margin-right: 500px;}
    .container p {margin-left: 500px;}
    .social{max-height: 400px;}
    .social{ max-width: 400px;}

}

/* xl device */
            
 @media (min-width: 1500px){
     .info {max-width: 300px;}
     .info {max-width: 300px;}
    .infoimg {max-width: 270px;}
     .infoimg {max-width: 270px;}
     .crew {max-width: 550px; }
     .crew {max-height: 550px;}
     .container {max-height: 100%;}
     .container p {margin-right: 400px;}
     .container p {margin-left: 400px;}
     .social{max-height: 400px;}
     .social{ max-width: 400px;}
 }

/** GALLERY **/
#gallery img{
    max-width: 190px;
    padding-top: 10px;
}

#gallery {
    margin: auto;
    text-align: center;
}


/* Style inputs with type="text", select elements and textareas */
input[type=text], input[type=date], input[type=time],input[type=tel],input[type=email],select, textarea {
    width: 90%; /* Full width */
    height: 20px;
    margin: auto;
    padding: 10px; /* Some padding */ 
    border: 2px solid #ccc; /* Gray border */
    border-radius: 10px; /* Rounded borders  */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    resize: vertical;/* Allow the user to vertically resize the textarea (not horizontally) */
    font-size: 1.2rem;
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    font-size: 1.2rem;
}
    

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 50%;
    padding: 0px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 18px;
}

.card button {
  border: none;
  outline: 0;
  padding: 5px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}



/** FOOTER **/
footer{
    max-width: 100%;
    background-color: #b7e2f7;
}





